@charset "utf-8";
/*===========================
        header
=============================*/
body{
    margin: 0;
}

h1{
    margin: 0px;
}

h2{
    margin: 0px;
}

h3{
    margin: 0px;
}

a{
    cursor: pointer;
}

.top-page-btn{
    text-align: center;
    color: #cd3333;
    text-decoration:none;
    margin-bottom: 50px;
}

.top-page-btn a{
    border: 1px solid #cd3333;
    display: inline-block;
    color: #cd3333;
    width: 250px;
    text-decoration:none;
}

.top-page-btn P{
    color: #cd3333;
    text-decoration:none;
    vertical-align: middle;
}

.header{
    height: 80px;
    width: 100%;
    background-color:  #fff;
    line-height:0;
    position: fixed;
    top: 0;
}

.header-logo{
    display: inline-block;
    /* margin-top: 10px; */
}

.header-links{
    /* display: inline-block; */
    height: 80px;
}

.header-link{
    vertical-align: middle;
    height: 80px;
    /* margin-top: 20px; */
}

.header-link:hover{
    color: #cf2e2e;
}

.header-img{
    width: 80px; 
    height: 80px;
    display: inline-block;
}

.header-links a{
    color: #000;
    text-decoration:none;
    padding:0px 30px;
    display: inline-block;
    
}



.top-page-image {
    background-image:url("img/enginer.jpg");
    /* width: 200px;
    background-size: cover; */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    text-align: center;
}

.top-page-image h1{
    padding-top: 200px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color: #fff;
    font-size: 70px;
}

.top-page-image h3{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: #fff;
    font-size: 40px;
}



.top-page-greeting{
    background-image:url("img/image.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    text-align: center;
}

.top-page-greeting h2{
    padding-top: 100px;
}

.top-page-greeting p{
    font-weight: bold;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:#7d7d7d;
    font-size: 20px;
}



.top-page-service{
    text-align: center;
}

.top-page-service h2{
    padding-top: 100px;
}

.service-wrapper{
    text-align: center;
    padding-top: 50px;
}

.service-wrapper-content{
    text-align: center;
    width: 30%;
    display: inline-block;
    padding-bottom: 30px;
}

.service-wrapper-content a{
    display: inline-block;
}

.service-wrapper-content img{
    width: 200px;
    height: 200px;
    border-radius: 150px;
}



.top-page-info{
    background-image:url("img/image.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    text-align: center;
}

.top-page-info h2{
    padding-top: 100px;
}




.top-page-acsses{
    text-align: center;
}

.top-page-acsses h2{
    text-align: center;
    padding-top: 100px;
}

.top-page-acsses iframe{
    padding-top: 30px;
    padding-bottom: 50px;
}





.top-page-recluting{
    background-image:url("img/entry.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    text-align: center;
}

.top-page-recluting h2{
    padding-top: 100px;
    /* color: #fff; */
}

.top-page-recluting p{
    padding-top: 5px;
    font-weight: bold;
    /* color: #fff; */
}








.footer-content{
    text-align: center;
    width: 100%;
    padding: 30px 0;
}

.footer-content img{
    width: 200px;
    display: inline-block;
}

.footer-content p{
    margin: 0;
    font-weight: bold;
}

.footer-content a{
    text-decoration: none;
    padding-top: 10px;
    display: block;
    color: #000;
}

/*===========================
        responsive
=============================*/

@media (min-width: 200px) and (max-width: 768px) {
    .custom-nav {
        background-color: #fff !important;
        padding: 10px 0px !important;
    }
    .custom-nav .container {
        width: 85%;
    }
    .custom-nav .navbar-toggler {
        color: #000;
        font-size: 26px;
        border: none;
    }
    .custom-nav .logo .logo-dark {
        display:inline-block;
    }
    .custom-nav .navbar-nav li a {
        color: rgba(0, 0, 0, 0.6) !important;
    }
    .custom-nav .logo .logo-light {
        display:none;
    }
    .h-100vh{
        height:auto;
    }
    .header-bg-img{
        clip-path: none;
    }
    .custom-nav .navbar-nav li a {
        margin: 0 0px;
        line-height: 15px;
    }
    .header-name{
        font-size:38px;
    }
}